body {
	font-family: verdana;
	background-color: #48f542;
	width: 100%;
	margin: 0%;
	padding: 0%;
}

#main_page h1 {
	text-align: center;
	padding: 5% 0% 0% 0%;
}

.img {
	padding: 0% 0% 0% 35%;
}

#navbar {
	margin: 0%;
}

#navbar ul {
	text-align: center;
}

#navbar ul li {
	display: inline;
}

#navbar ul li a {
	color: #000;
	text-decoration: none;
	padding: 10px 15px 5px 15px;
}

#navbar ul li a:hover {
	background-color: #f2a244;
	border-radius: 3px;
	color: #fff;
}
